[dev-packages]

[packages]
django = "==4.0.4"
djangorestframework = "==3.13.1"
djangorestframework-simplejwt = "==5.1.0"
gunicorn = "==20.1.0"
psycopg2-binary = "==2.9.3"
requests = "==2.27.1"
pillow = "==9.1.0"

[requires]
python_version = "3.10"

[scripts]
run="python manage.py runserver"
migrate ="python manage.py migrate"
make="python manage.py makemigrations"
static="python manage.py collectstatic"
super="python manage.py createsuperuser"
guni="gunicorn iotproject.wsgi:application --bind 0.0.0.0:8000"
