{% extends 'base.html' %}

{% block header %}

<div class="alert alert-primary" role="alert">
  <h3>Mypage[{{ username }}]</h3>
</div>

{% endblock header %}

{% block content %}

<div class="container">
  <div class="alert alert-success" role="alert">
    <a href="{% url 'read' %}" role="button" class="btn btn-success" aria-pressed="true">TABLE</a>
    <a href="{% url 'graph' %}" role="button" class="btn btn-primary" aria-pressed="true">UPDATE</a>
    <a href="{% url 'dl' %}" role="button" class="btn btn-warning" aria-pressed="true">DOWNLOAD</a>
    <a href="{% url 'logout' %}" class="btn btn-secondary" role="button" aria-pressed="true">LOGOUT</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-pressed="true">DELETE</button>
    <br>
    <hr>
    {% autoescape off %}
    {% for plot_fig in plot_figs %}
    <div class="font-large container row col">
      <p>{{ plot_fig.kinds_of_senser_index }}</p>
      <table class="table bg-light">
        <thead>
          <tr>
            {% for p in plot_fig.building_name_index %}
              <th scope="col" class="table-active">{{ p }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for v in plot_fig.latest_value_index %}
              {% if plot_fig.unit_index != "" %}
                <td scope="row">{{ v }} {{ plot_fig.unit_index }}</td table-primary>
              {% else %}
                <td scope="row">{{ v }}</td table-primary>
              {% endif %}
            {% endfor %}
          </tr>
        </tbody>
        <tbody>
          <tr>
            {% for t in plot_fig.latest_time_index %}
              <td scope="row" class="table-active">{{ t }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    {{ plot_fig.figure_index }}
      {% for sensor_heatmap in plot_fig.heatmap_index %}
        {{ sensor_heatmap }}
      {% endfor %}
    <hr>
    {% empty %}
     <p>データがありません</p>
    {% endfor %}
    {% endautoescape %}
  </div>
</div>

{% include 'modal.html' %}

{% endblock content %}
