{% extends 'base.html' %}

{% block header %}

<div class="alert alert-primary" role="alert">
  <h3>Mypage[{{ username }}]</h3>
</div>

{% endblock header %}

{% block content %}

<div class="container">
  <div class="alert alert-success" role="alert">
    <a href="{% url 'read' %}" role="button" class="btn btn-success" aria-pressed="true">TABLE</a>
    <a href="{% url 'graph' %}" role="button" class="btn btn-primary" aria-pressed="true">UPDATE</a>
    <a href="{% url 'dl' %}" role="button" class="btn btn-warning" aria-pressed="true">DOWNLOAD</a>
    <a href="{% url 'logout' %}" class="btn btn-secondary" role="button" aria-pressed="true">LOGOUT</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" aria-pressed="true">DELETE</button>
    <br>
    <hr>
    {% autoescape off %}
    {% for content in contents %}
    <div class="font-large container row col">
      <p>{{ content.0 }}</p>
      <table class="table bg-light">
        <thead>
          <tr>
            {% for p in content.4 %}
              <th scope="col" class="table-active">{{ p }}</th>
            {% empty %}
              <p>データがありません</p>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for v in content.5 %}
              <td scope="row">{{ v }}</td table-primary>
            {% empty %}
              <p>データがありません</p>
            {% endfor %}
          </tr>
        </tbody>
        <tbody>
          <tr>
            {% for t in content.6 %}
              <td scope="row" class="table-active">{{ t }}</td>
            {% empty %}
              <p>データがありません</p>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    {{ content.2 }}
    {{ content.3 }}
    <hr>
    {% empty %}
     <p>データがありません</p>
    {% endfor %}
    {% endautoescape %}
  </div>
</div>

{% include 'modal.html' %}

{% endblock content %}
